.box {
    width: 150px;
    height: 50px;
    border: 1px solid black;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;

}

.red {
    background-color: indianred;
    /*padding: top right bottom left;*/
    /*padding: 0 0 0 20px;*/
    /*padding: top/bottom left/right*/

}

.orange {
    background-color: lightsalmon;
    margin-left: 30px;
}

.yellow {
    background-color: lemonchiffon;
    margin-left: 60px;

}

.green {
    background-color: lightgreen;
    margin-left: 90px;
}

.blue {
    background-color: lightblue;
    margin-left: 120px;
}

.purple {
    background-color: mediumpurple;
    margin-left: 150px;
}